body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main,
footer {
  display: flex;
  justify-content: center;
  /* Horisontell centrering */
  align-items: center;
  /* Vertikal centrering */
}

main {
  width: auto;
  flex-grow: 1;
  /* make the main section expand to fill remaining space */
  flex-direction: column;
}

.hidden {
  display: none;

}

/* header */
header {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #666666;
}

.active {
  text-decoration: underline;
}


/* mina råttor */
section.myrats-section {
  margin-top: 20px;
}

section.myrats-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.rat-item {
  width: 400px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-bottom: 30px;
}

/* .ratitem-sanstable  {
  flex-direction: column;
}
 */
.rat-image {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
}

.rat-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.diagnos-form {
  display: flex;
  flex-direction: column;
}

.diagnos-table {
  flex-direction: column;
  margin: 20px;
  margin: 0 20px 20px 50px;
}

.diagnos-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px
}

.diagnos-table table th,
.diagnos-table table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.diagnos-table table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.diagnos-table table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.diagnos-table table tr:hover {
  background-color: #e3e3e3;
}


@media (max-width: 600px) {
  .rat-item {
    flex-direction: column;
  }

  .ratitem-sanstable {
    display: flex;
  }

  .rat-details {}

  .rat-image {
    align-items: center;
  }

  .diagnos-table table {
    width: 100%;
    overflow-x: auto;
  }
}


/* lägg till råtta */
.add-rat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-rat-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-rat-content form input {
  margin: 5px 0;
}

.add-rat-content form label {
  margin-top: 5px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #5dc160;
}

button:active {
  background-color: #4ea451;
}

button a {
  text-decoration: none;
  color: white;
}

.edit-rat-btn {
  margin-top: auto;
}


/* diagnos-lista */
.diagnos-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.diagnos-lista li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.diagnos-lista li span {
  margin-right: 5px;
}

.diagnos-lista li .diagnos-namn {
  color: #ff69b4;
  font-weight: bold;
}

.diagnos-lista li .diagnos-datum {
  color: #00bfff;
}

.diagnos-lista li .diagnos-beskrivning {
  color: #ffa500;
}



/* lägg till diagnos */
#utskrift {
  margin: 20px 0;
}

