body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main,
footer {
  display: flex;
  justify-content: center;
  /* Horisontell centrering */
  align-items: center;
  /* Vertikal centrering */
}

main {
  width: auto;
  flex-grow: 1;
  /* make the main section expand to fill remaining space */
}

.hidden {
  display: none;
}

/* header */
header {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #666666;
}

.active {
  text-decoration: underline;
}


/* mina råttor */
section.myrats-section {
  margin-top: 20px;
}

section.myrats-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.rat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rat-item {
  width: 200px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rat-image {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
}

.rat-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.rat-details {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.rat-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.rat-details p {
  font-size: 14px;
}

.goto-rat-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.goto-rat-btn:hover {
  background-color: #45a049;
}




/* popup råttans profil */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* Centrera horisontellt */
  align-items: center;
  /* Centrera vertikalt */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.overlay-content {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rat-image-profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.overlay-content h2 {
  color: #333;
  margin-bottom: 10px;
}

.overlay-content p {
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

.edit-rat-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.edit-rat-btn:hover {
  background-color: #5dc160;
}

.edit-rat-btn:active {
  background-color: #4ea451;
}


/* lägg till råtta */
.add-rat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-rat-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-rat-content form input {
  margin: 5px 0;
}

.add-rat-content form label {
  margin-top: 5px;
}

.add-rat-content button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-rat-content button:hover {
  background-color: #5dc160;
}

.add-rat-content button:active {
  background-color: #4ea451;
}