<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>RatMedManager</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <img th:src="@{/static/images/rats3.jpg}" alt="Logo" />
        <ul>
          <li><a th:href="@{/home}" class="myrats-btn">Home (hoppas på Mina Råttor, men tar det sen isåfall)</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <form
      action="#"
      th:action="@{/add-diagnos}"
      method="post"
      th:object="${diagnos}"
    >
      <input type="hidden" name="ratId" th:value="${diagnos.rat.id}" />
      <p><b>Namn:</b> <span th:text="${diagnos.rat.name}"></span></p>
      <label for="namn">Diagnos:</label>
      <input type="text" name="namn" th:field="*{namn}" />
      <label for="datum">Datum:</label>
      <input type="text" name="datum" th:field="*{datum}" />
      <label for="beskrivning">Beskrivning:</label>
      <input type="text" name="beskrivning" th:field="*{beskrivning}" />
      <button type="submit">Submit</button>
    </form>
 
    <div id="utskrift">
      <h2>Diagnoser:</h2>
      <table class="diagnos-table">
        <thead>
          <tr>
            <th>Namn</th>
            <th>Datum</th>
            <th>Beskrivning</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="diagnos : ${diagnos.rat.diagnoser}">
            <td th:text="${diagnos.namn}"></td>
            <td th:text="${diagnos.datum}"></td>
            <td th:text="${diagnos.beskrivning}"></td>
          </tr>
        </tbody>
      </table>      
    </div>
  </main>
    <div th:replace="~{footer :: footer}"></div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
