<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>RatMedManager</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div th:replace="~{header :: header}"></div>
    <main>
      <section class="main-section">
        <h1>Välkommen!</h1>
      </section>
      <section class="myrats-section hidden">
        <h1>Mina Råttor</h1>
        <div class="rat-wrapper">
          <div th:each="rat : ${ratList}" class="rat-item">
            <div class="ratitem-sanstable">
              <div class="rat-image">
                <img th:src="@{/static/images/ratprofile.PNG}" alt="Logo" />
              </div>
              <div class="rat-details">
                <h2><span th:text="${rat.name}"></span></h2>
                <p>
                  <b>Personlighet:</b>
                  <span th:text="${rat.personality}"></span>
                </p>
                <p><b>Ålder:</b> <span th:text="${rat.age}"></span></p>
              </div>
            </div>
            <div class="diagnos-table">
              <h2>Diagnoser:</h2>
              <table>
                <thead>
                  <tr>
                    <th>Diagnos</th>
                    <th>Datum</th>
                    <th>Beskrivning</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="diagnos : ${rat.diagnoser}">
                    <td th:text="${diagnos.namn}"></td>
                    <td th:text="${diagnos.datum}"></td>
                    <td th:text="${diagnos.beskrivning}"></td>
                  </tr>
                </tbody>
              </table>
              <button class="edit-rat-btn">
                <a
                  th:href="@{/add-diagnos(ratId=${rat.id})}"
                  class="add-diagnos-link"
                  th:data-ratId="${rat.id}"
                  >Lägg till diagnos</a
                >
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="add-rat-section hidden">
        <div class="add-rat-content">
          <h1>Lägg till råtta</h1>
          <form
            action="#"
            th:action="@{/add-rat}"
            th:object="${rat}"
            method="post"
          >
            <label for="name">Namn:</label>
            <input type="text" name="name" th:field="*{name}" />
            <label for="age">Ålder:</label>
            <input type="number" name="age" th:field="*{age}" />
            <label for="personality">Personlighet:</label>
            <input type="text" name="personality" th:field="*{personality}" />
            <button type="submit">Spara</button>
          </form>
        </div>
      </section>

      <section class="logout-section hidden">
        <div th:replace="fragments/logout :: logout-fragment"></div>
      </section>
    </main>
    <div th:replace="~{footer :: footer}"></div>

    <!-- Spara alltid namn med stor bokstav -->
    <script>
      // Hämta referensen till input-elementet
      var nameInput = document.getElementById("name");

      // Lyssna på förändringar i input-elementet
      nameInput.addEventListener("change", function () {
        // Hämta värdet från input-elementet
        var name = nameInput.value;

        // Omvandla första bokstaven till stor bokstav
        var capitalized = name.charAt(0).toUpperCase() + name.slice(1);

        // Uppdatera värdet i input-elementet med den stora bokstaven
        nameInput.value = capitalized;
      });
    </script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
