<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div th:replace="~{header :: header}"></div>
    <main>
        <h1>Vill du logga ut?</h1>

        <form method="post" th:action="@{/logout}">
          <input type="submit" value="Logout" />
        </form>
    </main>
    <div th:replace="~{footer :: footer}"></div>
  </body>
</html>
 -->